<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet> 
    <description></description>
    <display-name>SupplierServlet</display-name> 
    <servlet-name>SupplierServlet</servlet-name>
    <servlet-class>com.example.doanltweb.controller.SupplierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierServlet</servlet-name>
    <url-pattern>/SupplierServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductManager</servlet-name>
    <servlet-class>com.example.doanltweb.controller.Admin.ProductManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductManager</servlet-name>
    <url-pattern>/productmanager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfileServlet</display-name>
    <servlet-name>UserProfileServlet</servlet-name>
    <servlet-class>com.example.doanltweb.controller.UserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfileServlet</servlet-name>
    <url-pattern>/UserProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>com.example.doanltweb.controller.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.example.doanltweb.controller.CartController.CartServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>com.example.doanltweb.controller.CartController.AddToCartServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <url-pattern>/RemoveFromCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFromCartServlet</display-name>
    <servlet-name>RemoveFromCartServlet</servlet-name>
    <servlet-class>com.example.doanltweb.controller.CartController.RemoveFromCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutServlet</display-name>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>com.example.doanltweb.controller.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/CheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderController</display-name>
    <servlet-name>OrderController</servlet-name>
    <servlet-class>com.example.doanltweb.controller.Admin.OrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderController</servlet-name>
    <url-pattern>/OrderController</url-pattern>
  </servlet-mapping>
</web-app>